<a href="https://colab.research.google.com/github/bobykvv/py4e/blob/main/SQLITE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('mbox.sqlite')
cur = conn.cursor()

In [ ]:
cur.execute('DROP TABLE IF EXISTS Counts')

In [ ]:
cur.execute('CREATE TABLE Counts (org TEXT, count INTEGER)')

In [ ]:
fname = input('Input filename: >> ')
if len(fname) < 1:
  fname = 'mbox.txt'
fh = open(fname)
for line in fh:
  if not line.startswith('From: '):
    continue
  else:
    splittedline = line.split()
    domain = splittedline[1].split('@')[1]
    cur.execute('SELECT count FROM Counts WHERE org = ?', (domain,))
    row = cur.fetchone()
    if row is None:
      cur.execute('INSERT INTO Counts (org, count) VALUES (?, 1)', (domain,))
    else:
      cur.execute('UPDATE Counts SET count = count+1 WHERE org = ?', (domain,))
    conn.commit()

Input filename: >>

In [ ]:
sqlstr = 'SELECT org, count FROM COUNTS ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
  print(row[0], row[1])

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

In [ ]:
cur.close()